.text-center{
    text-align: center;
}
.mt{
    margin-top: 10px;
}
.full-width{
    width: 100%;
}
.mt1{
    margin-top: 10px;
}
.bg{
    background-color: #022202;
}
.bg1{
    background-color: #91ba91;
}
.bg2{
    background-color: #590448;
}
.mb{
    margin-bottom: 10px;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
