<div class="bootstrap-wrapper bg1">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class=" mt1 bg2">
                    <div class="container text-center ">
                        <img class="img-fluid" src="/assets/login_img.png" alt="">
                    </div>
                    <h1 class="text-center bg">Register Here!!</h1>
                    <form class=" mt1">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Firstname</mat-label>
                            <input [(ngModel)]="credentials.firstname"   required type="text" name="firstname" id="" matInput>
                        </mat-form-field>
                         
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Lastname</mat-label>
                            <input [(ngModel)]="credentials.lastname" required type="text" name="lastname" id="" matInput>
                        </mat-form-field>
                        

                        
            
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input [(ngModel)]="credentials.email" required type="email" name="email" id="" matInput>
                        </mat-form-field>
                        
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input [(ngModel)]="credentials.password"  required type="password" name="password" id="" matInput>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input [(ngModel)]="credentials.phonenumber"   required type="tel" name="phonenumber" id="" matInput>
                        </mat-form-field>
                        
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Address</mat-label>
                            <input [(ngModel)]="credentials.address"  required type="text" name="address" id="" matInput>
                        </mat-form-field>
                        
                        <div class="container text-center">
                            <button type="submit"  (click)="addUser()" mat-raised-button color="primary">Register</button>
                            <button type="reset" mat-raised-button style="margin-left: 30px;" color="accent">Reset</button>
                            
                        </div>
                        
                    </form>
                </mat-card>
                {{credentials.firstname}}
                <br>
                {{credentials.lastname}}
                <br>
                {{credentials.email}}
                <br>
                {{credentials.password}}
                <br>
                {{credentials.phonenumber}}
                <br>
                {{credentials.address}}
            </div>
        </div>
    </div>
</div>