<div class="bootstrap-wrapper bg1">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class=" mt1 bg2">
                    <div class="container text-center ">
                        <img class="img-fluid" src="/assets/login_img.png" alt="">
                    </div>
                    <h1 class="text-center bg">Login Here!!</h1>
                    <form (ngSubmit)="onSubmit()" class=" mt1">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input [(ngModel)]="credentials.username" required type="text" name="username" id="" matInput>
                        </mat-form-field>
            
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input [(ngModel)]="credentials.password" required type="password" name="password" id="" matInput>
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Login</button>
                            <button type="reset" mat-raised-button style="margin-left: 30px;" color="accent">Reset</button>
                        </div>
                        
                    </form>
                    
                    <span class="spacer">
                        <label for="">Do not have an account!         </label>
                        <a mat-icon-button routerLink="/register">Click here to register</a>
                      </span>
                </mat-card>
                    Username: {{credentials.username}}
                    <br>
                    Password:{{credentials.password}}
            </div>
        </div>
    </div>
</div>