.text-center{
    text-align: center;
}
.mt{
    margin-top: 10px;
}
.full-width{
    width: 100%;
}
.mt1{
    margin-top: 10px;
}
.bg{
    background-color: #000100;
}
.bg1{
    background-color: #c9edc9;
}
.bg2{
    background-color: #464802;
}